<section class = "partial">

<ul class="exercises">
	<li>{{exercise1}}  <input type="checkbox" ng-model="check1" aria-label="Toggle ngHide">?</li>
	<p class="check-element animate-show" ng-show="check1">{{description1}}</p>
	<li>{{exercise2}}  <input type="checkbox" ng-model="check2" aria-label="Toggle ngHide"> ?</li>
	<p class="check-element animate-show" ng-show="check2">{{description2}}</p>
	<li>{{exercise3}}  <input type="checkbox" ng-model="check3" aria-label="Toggle ngHide"> ?</li>
	<p class="check-element animate-show" ng-show="check3">{{description3}}</p>
	<li>{{exercise4}}  <input type="checkbox" ng-model="check4" aria-label="Toggle ngHide"> ?</li> 
	<p class="check-element animate-show" ng-show="check4">{{description4}}</p>
	<li>{{exercise5}}  <input type="checkbox" ng-model="check5" aria-label="Toggle ngHide"> ?</li>
	<p class="check-element animate-show" ng-show="check5">{{description5}}</p>
	<li>{{exercise6}}  <input type="checkbox" ng-model="check6" aria-label="Toggle ngHide"> ?</li>
	<p class="check-element animate-show" ng-show="check6">{{description6}}</p>
	<li>{{exercise7}}  <input type="checkbox" ng-model="check7" aria-label="Toggle ngHide"> ?</li>
	<p class="check-element animate-show" ng-show="check7">{{description7}}</p>
	<li>{{exercise8}}  <input type="checkbox" ng-model="check8" aria-label="Toggle ngHide"> ?</li>
	<p class="check-element animate-show" ng-show="check8">{{description8}}</p>

<restart></restart>
</section>
