////variables
$glyph-color = #EE386B
$gliph-size =  20px
$gliph-pos = absolute

$bi-pos = 28%
$quad-pos = 56%

$shoulder-pos = 21%
$tri-pos = 29%

$backLegLeft = 70%
$backLegRight = 81%
$glute-pos = 60%
$thigh-pos = 60%



.bodyPic
	background-image url('images/body4.png')
	background-repeat no-repeat
	background-size cover
	height 930px
   

.glyphicon
	color $glyph-color
	font-size $gliph-size
	position $gliph-pos
	
#abs.glyphicon
	left 29%
	top 35%
	
#chest.glyphicon
	left 28.9%
	top 25%

#bisLeft.glyphicon
	left 19%
	top $bi-pos	
	
#bisRight.glyphicon
	left 39%
	top $bi-pos

#quadLeft.glyphicon
	left 22%
	top $quad-pos
	
#quadRight.glyphicon	
	left 35.5%
	top $quad-pos
	
	
#shoulderLeft.glyphicon
	left 68%
	top $shoulder-pos
	
#shoulderRight.glyphicon	
	left 83%
	top $shoulder-pos
	
#upper.glyphicon
	left 75.5%
	top 30%	


#leftGlute.glyphicon
	left $backLegLeft
	top $glute-pos
	
#rightGlute.glyphicon	
	left $backLegRight
	top $glute-pos
	
#thighLeft.glyphicon
	left $backLegLeft
	top $thigh-pos
	
#thighRight.glyphicon	
	left $backLegRight
	top $thigh-pos

#trisLeft.glyphicon
	left 64%
	top $tri-pos
	
#trisRight.glyphicon	
	left 87%
	top $tri-pos
	
.selected 
	color #5FC6B5
	
@media (max-width: 2000px)
	.bodyPic 
		height 800px
		width 930px


// @media (min-width: 235px)
// 	.bodyPic 
// 		height 900px
// 		width 100%
// @media (min-width: 800px)
// 	.bodyPic 
// 		height 610px	
// 		width 800px	

		

		