////variables
$glyph-color = #EE386B
$gliph-size =  20px
$gliph-pos = absolute

$bi-pos = 28%
$quad-pos = 56%

$shoulder-pos = 21%
$tri-pos = 29%

$backLegLeft = 70%
$backLegRight = 78.5%
$glute-pos = 60%
$thigh-pos = 60%



.bodyPic
	background-image url('images/body4.png')
	background-repeat no-repeat
	background-size cover
	height 930px
   

.glyphicon
	color $glyph-color
	font-size $gliph-size
	position $gliph-pos
	
#abs.glyphicon
	left 28.5%
	top 35%
	
#chest.glyphicon
	left 28.5%
	top 25%

#bisLeft.glyphicon
	left 19%
	top $bi-pos	
	
#bisRight.glyphicon
	left 38%
	top $bi-pos

#quadLeft.glyphicon
	left 22%
	top $quad-pos
	
#quadRight.glyphicon	
	left 35%
	top $quad-pos
	
	
#shoulderLeft.glyphicon
	left 66%
	top $shoulder-pos
	
#shoulderRight.glyphicon	
	left 83%
	top $shoulder-pos
	
#upper.glyphicon
	left 74.4%
	top 30%	


#leftGlute.glyphicon
	left $backLegLeft
	top $glute-pos
	
#rightGlute.glyphicon	
	left $backLegRight
	top $glute-pos
	
#thighLeft.glyphicon
	left $backLegLeft
	top $thigh-pos
	
#thighRight.glyphicon	
	left $backLegRight
	top $thigh-pos

#trisLeft.glyphicon
	left 64%
	top $tri-pos
	
#trisRight.glyphicon	
	left 84.5%
	top $tri-pos
	
.selected 
	color #5FC6B5
.part
		background-color #fac90d
		height 1160px
		width 650px	
		overflow-y scroll
	
@media (max-width: 2000px)
	.bodyPic 
		width 1350px
		height 1190px
		
	
	
@media (max-width: 1999px)
	.bodyPic 
		width 1250px
		height 1050px
		
	.part
		width 660px
		height 1050px
		
@media (max-width: 1799px)
	.bodyPic 
		width 1000px
		height 850px
		
	.part
		width 550px
		height 850px		


@media (max-width: 1599px)
	.bodyPic 
		width 900px
		height 760px
		
	.part
		width 500px
		height 760px
	
@media (max-width: 1399px)
	.bodyPic 
		width 722px
		height 630px
		
	.part
		width 400px
		height 630px
		
@media (max-width: 1123px)
	.bodyPic 
		width 600px
		height 520px
		
	.part
		width 400px
		height 520px
		
	
		
// @media (max-width: 1500px)
// 	.bodyPic 
// 		height 800px
// 		width 930px
// @media (max-width: 1500px)
// 	.bodyPic 
// 		height 800px
// 		width 930px

// @media (min-width: 235px)
// 	.bodyPic 
// 		height 900px
// 		width 100%
// @media (min-width: 800px)
// 	.bodyPic 
// 		height 610px	
// 		width 800px	

		

		