.bodyPic {
  background-image: url("images/body4.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 930px;
}
.glyphicon {
  color: #ee386b;
  font-size: 20px;
  position: absolute;
}
#abs.glyphicon {
  left: 29%;
  top: 35%;
}
#chest.glyphicon {
  left: 28.9%;
  top: 25%;
}
#bisLeft.glyphicon {
  left: 19%;
  top: 28%;
}
#bisRight.glyphicon {
  left: 39%;
  top: 28%;
}
#quadLeft.glyphicon {
  left: 22%;
  top: 56%;
}
#quadRight.glyphicon {
  left: 35.5%;
  top: 56%;
}
#shoulderLeft.glyphicon {
  left: 68%;
  top: 21%;
}
#shoulderRight.glyphicon {
  left: 83%;
  top: 21%;
}
#upper.glyphicon {
  left: 75.5%;
  top: 30%;
}
#leftGlute.glyphicon {
  left: 70%;
  top: 60%;
}
#rightGlute.glyphicon {
  left: 81%;
  top: 60%;
}
#thighLeft.glyphicon {
  left: 70%;
  top: 60%;
}
#thighRight.glyphicon {
  left: 81%;
  top: 60%;
}
#trisLeft.glyphicon {
  left: 64%;
  top: 29%;
}
#trisRight.glyphicon {
  left: 87%;
  top: 29%;
}
.selected {
  color: #5fc6b5;
}
@media (max-width: 2000px) {
  .bodyPic {
    height: 800px;
    width: 930px;
  }
}
