.bodyPic {
  background-image: url("images/body4.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 930px;
}
.glyphicon {
  color: #ee386b;
  font-size: 20px;
  position: absolute;
}
#abs.glyphicon {
  left: 28.5%;
  top: 35%;
}
#chest.glyphicon {
  left: 28.5%;
  top: 25%;
}
#bisLeft.glyphicon {
  left: 19%;
  top: 28%;
}
#bisRight.glyphicon {
  left: 38%;
  top: 28%;
}
#quadLeft.glyphicon {
  left: 22%;
  top: 56%;
}
#quadRight.glyphicon {
  left: 35%;
  top: 56%;
}
#shoulderLeft.glyphicon {
  left: 66%;
  top: 21%;
}
#shoulderRight.glyphicon {
  left: 83%;
  top: 21%;
}
#upper.glyphicon {
  left: 74.4%;
  top: 30%;
}
#leftGlute.glyphicon {
  left: 70%;
  top: 60%;
}
#rightGlute.glyphicon {
  left: 78.5%;
  top: 60%;
}
#thighLeft.glyphicon {
  left: 70%;
  top: 60%;
}
#thighRight.glyphicon {
  left: 78.5%;
  top: 60%;
}
#trisLeft.glyphicon {
  left: 64%;
  top: 29%;
}
#trisRight.glyphicon {
  left: 84.5%;
  top: 29%;
}
.selected {
  color: #5fc6b5;
}
.part {
  background-color: #fac90d;
  height: 1160px;
  width: 650px;
  overflow-y: scroll;
}
@media (max-width: 2000px) {
  .bodyPic {
    width: 1350px;
    height: 1190px;
  }
}
@media (max-width: 1999px) {
  .bodyPic {
    width: 1250px;
    height: 1050px;
  }
  .part {
    width: 550px;
    height: 1050px;
  }
}
@media (max-width: 1799px) {
  .bodyPic {
    width: 1000px;
    height: 850px;
  }
  .part {
    width: 550px;
    height: 850px;
  }
}
@media (max-width: 1599px) {
  .bodyPic {
    width: 900px;
    height: 760px;
  }
  .part {
    width: 500px;
    height: 760px;
  }
}
@media (max-width: 1399px) {
  .bodyPic {
    width: 722px;
    height: 630px;
  }
  .part {
    width: 400px;
    height: 630px;
  }
}
@media (max-width: 1123px) {
  .bodyPic {
    width: 600px;
    height: 520px;
  }
  .part {
    width: 400px;
    height: 520px;
  }
}
