////variables
$glyph-color = #EE386B
$gliph-size =  20px
$gliph-pos = absolute

$bi-pos = 35%
$quad-pos = 65%

$shoulder-pos = 25%
$tri-pos = 35%

$backLegLeft = 67%
$backLegRight = 80%
$glute-pos = 60%
$thigh-pos = 75%



.bodyPic
	background-image url('images/body1.png')
	background-repeat no-repeat
	background-size cover
	height 610px
   

.glyphicon
	color $glyph-color
	font-size $gliph-size
	position $gliph-pos
#abs.glyphicon
	left 23.7%
	top 50%
	
#chest.glyphicon
	left 23.7%
	top 30%

#bisLeft.glyphicon
	left 13%
	top $bi-pos	
	
#bisRight.glyphicon
	left 34%
	top $bi-pos

#quadLeft.glyphicon
	left 16%
	top $quad-pos
	
#quadRight.glyphicon	
	left 31%
	top $quad-pos
	
	
#shoulderLeft.glyphicon
	left 65%
	top $shoulder-pos
	
#shoulderRight.glyphicon	
	left 82%
	top $shoulder-pos
	
#upper.glyphicon
	left 73.5%
	top 45%	



#leftGlute.glyphicon
	left $backLegLeft
	top $glute-pos
	
#rightGlute.glyphicon	
	left $backLegRight
	top $glute-pos
	
#thighLeft.glyphicon
	left $backLegLeft
	top $thigh-pos
	
#thighRight.glyphicon	
	left $backLegRight
	top $thigh-pos

#trisLeft.glyphicon
	left 62%
	top $tri-pos
	
#trisRight.glyphicon	
	left 85%
	top $tri-pos
	

