////variables
$pictureSize = 200px

gray = #373737
pink = #ee386b
yellow = #FAC90D
teal = #5FC6B5



body
	color gray
	font-family 'Abel', sans-serif

header
	text-align center
	background-image url("images/fitness-header.jpg")
	background-repeat no-repeat
	background-size cover
	height 400px
	background-position 0px -100px

header h1
	color yellow
	margin 0
	font-family 'Bitter', serif 
	font-size 80px
	padding-top 100px

header p
	color yellow
	font-size 24px
	font-style italic

header #description
	color white
	font-size 18px
	font-style normal
	text-align left
	position relative
	left 20px
	top 120px
	

		

.exercises
	text-align center
	float none
	font-size 24px
	list-style none

.exercises li
	text-align left
	
.list
	background-color yellow
	
.row 
	padding-top 20px

.roulette
	text-align center
	margin 0px auto
	display inline-block
	color yellow

.roulette:visited
	color yellow
	text-transform none

.roulette:hover
	color teal

.restart
	color gray
	margin-top 25px

.restart:visited
	color gray
	text-transform none

.restart:hover
	color teal
	
.partial
	text-align center

.partial input
	padding-right 10px

.partial a
	color gray

.checked
	text-decoration line-through
	
.part
	background-color yellow	
	
	overflow-y scroll	
	
	

blockquote
	text-align center
	font-size 36px
	font-style italic
	padding-top 50px
	padding-bottom 25px
	color pink

footer
	text-align center
	background-image url("images/fitness-footer.jpg")
	background-repeat no-repeat
	background-size cover
	height 350px
	color white

footer p
	padding-top 50px
	font-size 24px
	
figure
	display inline-block
	margin 20px
figcaption
	font-size 20px
#leah
	width  $pictureSize
	height  $pictureSize
	display inline-block
	border-radius 50%
	
#katie
	width  $pictureSize
	height  $pictureSize
	border-radius 50%
	display inline-block
	
li
	border-style double	
	margin 3px
	
	
		
	

				
		

