body {
  color: #373737;
  font-family: 'Abel', sans-serif;
}
header {
  text-align: center;
  background-image: url("images/fitness-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  background-position: 0px -100px;
}
header h1 {
  color: #fac90d;
  margin: 0;
  font-family: 'Bitter', serif;
  font-size: 80px;
  padding-top: 100px;
}
header p {
  color: #fac90d;
  font-size: 24px;
  font-style: italic;
}
header #description {
  color: #fff;
  font-size: 25px;
  font-style: normal;
  text-align: center;
  position: relative;
  left: 20px;
  top: 10px;
}
.exercises {
  text-align: center;
  float: none;
  font-size: 24px;
  list-style: none;
}
.exercises li {
  text-align: left;
}
.list {
  background-color: #fac90d;
}
.row {
  padding-top: 20px;
}
.roulette {
  text-align: center;
  margin: 0px auto;
  display: inline-block;
  color: #fac90d;
}
.roulette:visited {
  color: #fac90d;
  text-transform: none;
}
.roulette:hover {
  color: #5fc6b5;
}
.restart {
  color: #373737;
  margin-top: 25px;
}
.restart:visited {
  color: #373737;
  text-transform: none;
}
.restart:hover {
  color: #5fc6b5;
}
.partial {
  text-align: center;
}
.partial input {
  padding-right: 10px;
}
.partial a {
  color: #373737;
}
.checked {
  text-decoration: line-through;
}
.part {
  background-color: #fac90d;
  overflow-y: scroll;
}
blockquote {
  text-align: center;
  font-size: 36px;
  font-style: italic;
  padding-top: 50px;
  padding-bottom: 25px;
  color: #ee386b;
}
footer {
  text-align: center;
  background-image: url("images/fitness-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  color: #fff;
}
footer p {
  padding-top: 50px;
  font-size: 24px;
}
figure {
  display: inline-block;
  margin: 20px;
}
figcaption {
  font-size: 20px;
}
#leah {
  width: 200px;
  height: 200px;
  display: inline-block;
  border-radius: 50%;
}
#katie {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: inline-block;
}
li {
  border-style: double;
  margin: 3px;
}
h3 {
  font-size: 30px;
}
h2 {
  text-align: center;
}
