body {
  color: #373737;
}
header {
  text-align: center;
  background-image: url("images/fitness-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  background-position: 0px -100px;
}
header h1 {
  color: #fac90d;
  margin: 0;
  font-size: 80px;
  padding-top: 100px;
}
.exercises {
  text-align: center;
  float: none;
  font-size: 24px;
}
.list {
  background-color: #fac90d;
}
.bodyPic {
  margin-bottom: 100px;
}
.row {
  padding-top: 20px;
}
.roulette {
  text-align: center;
  margin: 0px auto;
  display: inline-block;
  color: #fac90d;
}
.roulette:visited {
  color: #fac90d;
}
.roulette:hover {
  color: #5fc6b5;
}
.restart {
  color: #373737;
}
.restart:visited {
  color: #373737;
}
.restart:hover {
  color: #5fc6b5;
}
.partial {
  text-align: center;
}
.part {
  background-color: #fac90d;
  height: 610px;
}
footer {
  text-align: center;
  background-image: url("images/fitness-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  color: #fff;
}
