////variables
gray = #373737
pink = #ee386b
yellow = #FAC90D
teal = #5FC6B5

body
	color gray

header
	text-align center
	background-color gray

header h1
	color yellow
	margin 0
	font-size 80px
	padding-top 20px
	padding-bottom 20px

.exercises
	text-align center
	
	float none
	font-size 24px
	
.list
	background-color yellow

	
.row 
	padding-top 20px

.roulette
	text-align center
	margin 0px auto
	display inline-block
	
.partial

	text-align center	
	
	
.part
	background-color yellow	
	height 610 px